WebPortal/Service References/NavigationServices/NavigationServices31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMenuView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuView" nillable="true" type="tns:MenuView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuView" nillable="true" type="tns:ArrayOfMenuView" />
  <xs:complexType name="MenuView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuView" nillable="true" type="tns:MenuView" />
</xs:schema>