WebPortal/Service References/NavigationServices/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" />
  <xs:element name="ListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="ListAllResult" nillable="true" type="q1:ArrayOfMenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="menu" nillable="true" type="q2:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="itemToRead" nillable="true" type="q3:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="ReadResult" nillable="true" type="q4:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="updatedItem" nillable="true" type="q5:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="UpdateResult" nillable="true" type="q6:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="itemToDelete" nillable="true" type="q7:MenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="GetMenuByRoleResult" nillable="true" type="q8:ArrayOfMenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMenus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DSABusinessServices.Navigation" minOccurs="0" name="GetSubMenusResult" nillable="true" type="q9:ArrayOfMenuView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>