WebPortal/Service References/NavigationServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NavigationServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BankServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INavigationServices_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_GetMenuByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByRole" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_GetMenuByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByRoleResponse" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_GetSubMenus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubMenus" />
  </wsdl:message>
  <wsdl:message name="INavigationServices_GetSubMenus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubMenusResponse" />
  </wsdl:message>
  <wsdl:portType name="INavigationServices">
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/ListAll" message="tns:INavigationServices_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/ListAllResponse" message="tns:INavigationServices_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/Create" message="tns:INavigationServices_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/CreateResponse" message="tns:INavigationServices_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/Read" message="tns:INavigationServices_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/ReadResponse" message="tns:INavigationServices_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/Update" message="tns:INavigationServices_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/UpdateResponse" message="tns:INavigationServices_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/Delete" message="tns:INavigationServices_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/DeleteResponse" message="tns:INavigationServices_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/GetMenuByRole" message="tns:INavigationServices_GetMenuByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/GetMenuByRoleResponse" message="tns:INavigationServices_GetMenuByRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubMenus">
      <wsdl:input wsaw:Action="http://tempuri.org/INavigationServices/GetSubMenus" message="tns:INavigationServices_GetSubMenus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INavigationServices/GetSubMenusResponse" message="tns:INavigationServices_GetSubMenus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INavigationServices" type="tns:INavigationServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByRole">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/GetMenuByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubMenus">
      <soap:operation soapAction="http://tempuri.org/INavigationServices/GetSubMenus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NavigationServices">
    <wsdl:port name="BasicHttpBinding_INavigationServices" binding="tns:BasicHttpBinding_INavigationServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BankServices/NavigationServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>