WebPortal/Service References/UserServices/DataAccess.EntityModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataAccess.EntityModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataAccess.EntityModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGender">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGender" nillable="true" type="tns:ArrayOfGender" />
  <xs:complexType name="Gender">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Blocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:Gender" />
      <xs:element minOccurs="0" name="GenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="tns:Town" />
      <xs:element minOccurs="0" name="TownID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="tns:UserType" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="tns:AccountType" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionLogs" nillable="true" type="tns:ArrayOfTransactionLog" />
      <xs:element minOccurs="0" name="TransactionLogs1" nillable="true" type="tns:ArrayOfTransactionLog" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="AccountType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accounts" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountType" nillable="true" type="tns:AccountType" />
  <xs:complexType name="ArrayOfTransactionLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionLog" nillable="true" type="tns:TransactionLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionLog" nillable="true" type="tns:ArrayOfTransactionLog" />
  <xs:complexType name="TransactionLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Account1" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountFromID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountToID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIssued" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:TransactionType" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionLog" nillable="true" type="tns:TransactionLog" />
  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionLogs" nillable="true" type="tns:ArrayOfTransactionLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionType" nillable="true" type="tns:TransactionType" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menus" nillable="true" type="tns:ArrayOfMenu" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menu1" nillable="true" type="tns:Menu" />
      <xs:element minOccurs="0" name="Menus1" nillable="true" type="tns:ArrayOfMenu" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Roles" nillable="true" type="tns:ArrayOfRole" />
      <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Town">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Town" nillable="true" type="tns:Town" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfUserType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserType" nillable="true" type="tns:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserType" nillable="true" type="tns:ArrayOfUserType" />
</xs:schema>