WebPortal/Service References/UserServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataAccess.EntityModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserServices_AllocateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:AllocateRole" />
  </wsdl:message>
  <wsdl:message name="IUserServices_AllocateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllocateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_DeallocateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeallocateRole" />
  </wsdl:message>
  <wsdl:message name="IUserServices_DeallocateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeallocateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_DoesUsernameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExist" />
  </wsdl:message>
  <wsdl:message name="IUserServices_DoesUsernameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Genders_InputMessage">
    <wsdl:part name="parameters" element="tns:Genders" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Genders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GendersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleById" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoleIdByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleIdByName" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoleIdByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleIdByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUserServices_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_IsUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRole" />
  </wsdl:message>
  <wsdl:message name="IUserServices_IsUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ListRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListRoles" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ListRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ReadByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByUsername" />
  </wsdl:message>
  <wsdl:message name="IUserServices_ReadByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_TypesList_InputMessage">
    <wsdl:part name="parameters" element="tns:TypesList" />
  </wsdl:message>
  <wsdl:message name="IUserServices_TypesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TypesListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IUserServices_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserServices">
    <wsdl:operation name="AllocateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/AllocateRole" message="tns:IUserServices_AllocateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/AllocateRoleResponse" message="tns:IUserServices_AllocateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Authenticate" message="tns:IUserServices_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/AuthenticateResponse" message="tns:IUserServices_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeallocateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/DeallocateRole" message="tns:IUserServices_DeallocateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/DeallocateRoleResponse" message="tns:IUserServices_DeallocateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Delete" message="tns:IUserServices_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/DeleteResponse" message="tns:IUserServices_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/DoesUsernameExist" message="tns:IUserServices_DoesUsernameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/DoesUsernameExistResponse" message="tns:IUserServices_DoesUsernameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Genders">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Genders" message="tns:IUserServices_Genders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GendersResponse" message="tns:IUserServices_Genders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetRoleById" message="tns:IUserServices_GetRoleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetRoleByIdResponse" message="tns:IUserServices_GetRoleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleIdByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetRoleIdByName" message="tns:IUserServices_GetRoleIdByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetRoleIdByNameResponse" message="tns:IUserServices_GetRoleIdByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/GetRoles" message="tns:IUserServices_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/GetRolesResponse" message="tns:IUserServices_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/IsUserInRole" message="tns:IUserServices_IsUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/IsUserInRoleResponse" message="tns:IUserServices_IsUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/ListAll" message="tns:IUserServices_ListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/ListAllResponse" message="tns:IUserServices_ListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/ListRoles" message="tns:IUserServices_ListRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/ListRolesResponse" message="tns:IUserServices_ListRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/ReadByUsername" message="tns:IUserServices_ReadByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/ReadByUsernameResponse" message="tns:IUserServices_ReadByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Register" message="tns:IUserServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/RegisterResponse" message="tns:IUserServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Search" message="tns:IUserServices_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/SearchResponse" message="tns:IUserServices_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TypesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/TypesList" message="tns:IUserServices_TypesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/TypesListResponse" message="tns:IUserServices_TypesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserServices/Update" message="tns:IUserServices_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserServices/UpdateResponse" message="tns:IUserServices_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserServices" type="tns:IUserServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllocateRole">
      <soap:operation soapAction="http://tempuri.org/IUserServices/AllocateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeallocateRole">
      <soap:operation soapAction="http://tempuri.org/IUserServices/DeallocateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <soap:operation soapAction="http://tempuri.org/IUserServices/DoesUsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Genders">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Genders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleById">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetRoleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleIdByName">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetRoleIdByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IUserServices/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap:operation soapAction="http://tempuri.org/IUserServices/IsUserInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/IUserServices/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListRoles">
      <soap:operation soapAction="http://tempuri.org/IUserServices/ListRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByUsername">
      <soap:operation soapAction="http://tempuri.org/IUserServices/ReadByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypesList">
      <soap:operation soapAction="http://tempuri.org/IUserServices/TypesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IUserServices/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServices">
    <wsdl:port name="BasicHttpBinding_IUserServices" binding="tns:BasicHttpBinding_IUserServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BankServices/UserServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>