BankManager/Service References/TransactionServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" />
  <xs:element name="ListTransactions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="ListTransactionsResult" nillable="true" type="q1:ArrayOfTransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="ListUserTransactionsResult" nillable="true" type="q2:ArrayOfTransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="order" type="q3:SortOrder" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="FilterTransactionsResult" nillable="true" type="q4:ArrayOfTransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="GetTransactionDetailsResult" nillable="true" type="q5:TransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" minOccurs="0" name="GetTransactionTypesResult" nillable="true" type="q6:ArrayOfTransactionTypeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>