BankManager/Service References/TransactionServices/TransactionServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransactionView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionView" nillable="true" type="tns:TransactionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionView" nillable="true" type="tns:ArrayOfTransactionView" />
  <xs:complexType name="TransactionView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountFromID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountToID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIssued" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionView" nillable="true" type="tns:TransactionView" />
  <xs:complexType name="ArrayOfTransactionTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionTypeView" nillable="true" type="tns:TransactionTypeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionTypeView" nillable="true" type="tns:ArrayOfTransactionTypeView" />
  <xs:complexType name="TransactionTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionTypeView" nillable="true" type="tns:TransactionTypeView" />
  <xs:complexType name="FixedAccountView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccumulatedInterest" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DurationID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IncomeTaxDeduction" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsExpired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaturityAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAccountView" nillable="true" type="tns:FixedAccountView" />
</xs:schema>