BankManager/Service References/TransactionServices/TransactionServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://dsabankwebservices.azurewebsites.net/TransactionServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://dsabankwebservices.azurewebsites.net/TransactionServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" />
  <xs:import schemaLocation="http://dsabankwebservices.azurewebsites.net/TransactionServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Forms" />
  <xs:element name="ListAccountNumbers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAccountNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListAccountNumbersResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListUserTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="ListUserTransactionsResult" nillable="true" type="q2:ArrayOfTransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNo" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Windows.Forms" minOccurs="0" name="order" type="q3:SortOrder" />
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="FilterTransactionsResult" nillable="true" type="q4:ArrayOfTransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="GetTransactionDetailsResult" nillable="true" type="q5:TransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="GetTransactionTypesResult" nillable="true" type="q6:ArrayOfTransactionTypeView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TermDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="accountInfo" nillable="true" type="q7:FixedAccountView" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="transactionInfo" nillable="true" type="q8:TransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TermDepositResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="item" nillable="true" type="q9:TransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonalTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" minOccurs="0" name="item" nillable="true" type="q10:TransactionView" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalTransferResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>