WebPortal/Service References/LoggingServices/LogServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceDSABank" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfErrorView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorView" nillable="true" type="tns:ErrorView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorView" nillable="true" type="tns:ArrayOfErrorView" />
  <xs:complexType name="ErrorView">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTriggered" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorView" nillable="true" type="tns:ErrorView" />
  <xs:complexType name="ArrayOfEventView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventView" nillable="true" type="tns:EventView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventView" nillable="true" type="tns:ArrayOfEventView" />
  <xs:complexType name="EventView">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceTable" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventView" nillable="true" type="tns:EventView" />
</xs:schema>