BankManager/Service References/UserServices/BankServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVwUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VwUser" nillable="true" type="tns:VwUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVwUser" nillable="true" type="tns:ArrayOfVwUser" />
  <xs:complexType name="VwUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Blocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TownID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VwUser" nillable="true" type="tns:VwUser" />
</xs:schema>