BankManager/Service References/UserServices/BankServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGenderView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenderView" nillable="true" type="tns:GenderView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenderView" nillable="true" type="tns:ArrayOfGenderView" />
  <xs:complexType name="GenderView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenderView" nillable="true" type="tns:GenderView" />
  <xs:complexType name="RoleView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleView" nillable="true" type="tns:RoleView" />
  <xs:complexType name="ArrayOfRoleView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleView" nillable="true" type="tns:RoleView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleView" nillable="true" type="tns:ArrayOfRoleView" />
  <xs:complexType name="ArrayOfUserView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserView" nillable="true" type="tns:UserView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserView" nillable="true" type="tns:ArrayOfUserView" />
  <xs:complexType name="UserView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Blocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleInitial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TownID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserView" nillable="true" type="tns:UserView" />
  <xs:complexType name="ArrayOfUserTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTypeView" nillable="true" type="tns:UserTypeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTypeView" nillable="true" type="tns:ArrayOfUserTypeView" />
  <xs:complexType name="UserTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTypeView" nillable="true" type="tns:UserTypeView" />
</xs:schema>