WebPortal/Service References/BankAccountServices/DSABusinessServices.BankAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankAccount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AccountView">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountView" nillable="true" type="tns:AccountView" />
  <xs:complexType name="ArrayOfAccountTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTypeView" nillable="true" type="tns:AccountTypeView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTypeView" nillable="true" type="tns:ArrayOfAccountTypeView" />
  <xs:complexType name="AccountTypeView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTypeView" nillable="true" type="tns:AccountTypeView" />
  <xs:complexType name="ArrayOfAccountView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountView" nillable="true" type="tns:AccountView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountView" nillable="true" type="tns:ArrayOfAccountView" />
  <xs:complexType name="ArrayOfTermView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TermView" nillable="true" type="tns:TermView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTermView" nillable="true" type="tns:ArrayOfTermView" />
  <xs:complexType name="TermView">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TermView" nillable="true" type="tns:TermView" />
</xs:schema>