WebPortal/Service References/BankTransactionServices/BankServices.BankTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankServices.BankTransaction" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankServices.BankTransaction" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransactionView">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionView" nillable="true" type="tns:TransactionView" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionView" nillable="true" type="tns:ArrayOfTransactionView" />
  <xs:complexType name="TransactionView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountFromID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountToID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateIssued" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionView" nillable="true" type="tns:TransactionView" />
</xs:schema>