WebPortal/Service References/TransactionServices/DSABusinessServices.BankAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankAccount" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankAccount" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FixedAccountView">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccumulatedInterest" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DurationID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IncomeTaxDeduction" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsExpired" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaturityAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FixedAccountView" nillable="true" type="tns:FixedAccountView" />
</xs:schema>