WebPortal/Service References/TransactionServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransactionServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.BankTransaction" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionServices_ListAccountNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAccountNumbers" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_ListAccountNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAccountNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_ListUserTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:ListUserTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_ListUserTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListUserTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_FilterTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterTransactions" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_FilterTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_GetTransactionDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionDetails" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_GetTransactionDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_GetTransactionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionTypes" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_GetTransactionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ITransactionServices_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionServices">
    <wsdl:operation name="ListAccountNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/ListAccountNumbers" message="tns:ITransactionServices_ListAccountNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/ListAccountNumbersResponse" message="tns:ITransactionServices_ListAccountNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListUserTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/ListUserTransactions" message="tns:ITransactionServices_ListUserTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/ListUserTransactionsResponse" message="tns:ITransactionServices_ListUserTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/FilterTransactions" message="tns:ITransactionServices_FilterTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/FilterTransactionsResponse" message="tns:ITransactionServices_FilterTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/GetTransactionDetails" message="tns:ITransactionServices_GetTransactionDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/GetTransactionDetailsResponse" message="tns:ITransactionServices_GetTransactionDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/GetTransactionTypes" message="tns:ITransactionServices_GetTransactionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/GetTransactionTypesResponse" message="tns:ITransactionServices_GetTransactionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/Create" message="tns:ITransactionServices_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/CreateResponse" message="tns:ITransactionServices_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionServices/Delete" message="tns:ITransactionServices_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionServices/DeleteResponse" message="tns:ITransactionServices_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionServices" type="tns:ITransactionServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAccountNumbers">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/ListAccountNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/ListUserTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterTransactions">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/FilterTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionDetails">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/GetTransactionDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionTypes">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/GetTransactionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ITransactionServices/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionServices">
    <wsdl:port name="BasicHttpBinding_ITransactionServices" binding="tns:BasicHttpBinding_ITransactionServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DSABusinessServices/TransactionServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>