BankManager/Service References/LogServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DSABusinessServices.Log" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogServices_DeleteError_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteError" />
  </wsdl:message>
  <wsdl:message name="ILogServices_DeleteError_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServices_DeleteEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvent" />
  </wsdl:message>
  <wsdl:message name="ILogServices_DeleteEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEventResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServices_FilterErrorsList_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterErrorsList" />
  </wsdl:message>
  <wsdl:message name="ILogServices_FilterErrorsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterErrorsListResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServices_FilterEventsList_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterEventsList" />
  </wsdl:message>
  <wsdl:message name="ILogServices_FilterEventsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterEventsListResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServices_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="ILogServices_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="ILogServices_LogEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:LogEvent" />
  </wsdl:message>
  <wsdl:message name="ILogServices_LogEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogEventResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogServices">
    <wsdl:operation name="DeleteError">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/DeleteError" message="tns:ILogServices_DeleteError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/DeleteErrorResponse" message="tns:ILogServices_DeleteError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/DeleteEvent" message="tns:ILogServices_DeleteEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/DeleteEventResponse" message="tns:ILogServices_DeleteEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterErrorsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/FilterErrorsList" message="tns:ILogServices_FilterErrorsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/FilterErrorsListResponse" message="tns:ILogServices_FilterErrorsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterEventsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/FilterEventsList" message="tns:ILogServices_FilterEventsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/FilterEventsListResponse" message="tns:ILogServices_FilterEventsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/LogError" message="tns:ILogServices_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/LogErrorResponse" message="tns:ILogServices_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogServices/LogEvent" message="tns:ILogServices_LogEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogServices/LogEventResponse" message="tns:ILogServices_LogEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogServices" type="tns:ILogServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteError">
      <soap:operation soapAction="http://tempuri.org/ILogServices/DeleteError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvent">
      <soap:operation soapAction="http://tempuri.org/ILogServices/DeleteEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterErrorsList">
      <soap:operation soapAction="http://tempuri.org/ILogServices/FilterErrorsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterEventsList">
      <soap:operation soapAction="http://tempuri.org/ILogServices/FilterEventsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <soap:operation soapAction="http://tempuri.org/ILogServices/LogError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <soap:operation soapAction="http://tempuri.org/ILogServices/LogEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogServices">
    <wsdl:port name="BasicHttpBinding_ILogServices" binding="tns:BasicHttpBinding_ILogServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DSABusinessServices.Log/LogServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>